.fondo{
	background-image: url("http://i.giphy.com/Y8lCgreAULD7G.gif")	;
  	background-size:cover;
	background-repeat: no-repeat;
    /*height: 100vh;*/
  
   	width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;
    top:0; 
    left:0;
	
}
.imgLogo {
  width: 10em;
}
.logo{
  position: relative;
  text-align: center;
  top: 2em;
}
.imgLogoMap {
  width: 10em;
}

.logoMap{
  position: relative;
  text-align: center;
z-index: 5;
}
.formMap{
	position: relative;
	width: 100%;
	text-align: center;
	top: 28rem;
	z-index: 5;
}
.textMap {
	width: 100%;
}
.grupoBtn{
  position: absolute;
  text-align: center;
  bottom: 40px;
  left: 0px;
  width: 100%; 
}
.btnNext{
  position: absolute;
  text-align: center;
  bottom: 40px;
  left: 0px;
  width: 100%;
}
.btnMap{
	width: 100%;
}
.btnLog{
	background-color: transparent;
}


.btnSign{
	background:  linear-gradient( 45deg, #EF0076, #610B5E);
}
.white{
	color: white;
}
.w100{
	width: 100%;
  height: 50px;
}
.grupo{
  position: relative;
  display: inline-block;
  width: 45%;
  border: 0px;
}

.dnone{
  display: none;
}
.inpEmail{
  width: 90%;
  border: 0px;
}
#mapa {
	position: absolute;
	width: 100%;
	height: 100vh; 
}

.userProfile {
	position: absolute;
	top: 60px;
	left: 60px;
	font-size: 60px;
	color: deeppink;
	z-index: 9;
}
.imgUser{
	width: 100px;
	height: 100px;
}

.m5-5 {
 margin-top: 5px;
  margin-bottom: 5px;
}

.profileUser {
    position: relative;
  text-align: center;
  z-index: 8;   
width: 100px;
height: 100px;
top: -159px;
left: 148px;
  
}
#imgProfile{
  position: relative;
height: 200px;
}
.fondoProfile{
  width: 100%;
  height: 200px;
}
#nameUserProfile{
  text-align: center;
  font-size: 40px;
  
}
.center { 
text-align: center;
}

.codeVal {
  width: 30px;
}