.fondo{
	background-image: url("http://i.giphy.com/DP0zRwQKtlqda.gif")	;
  	background-size:cover;
	background-repeat: no-repeat;
    /*height: 100vh;*/
  
   	width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;
    top:0; 
    left:0;
	
}
.imgLogo {
  width: 10em;
}
.logo{
  position: relative;
  text-align: center;
  top: 2em;
}
.imgLogoMap {
  width: 15em;
}

.logoMap{
  position: relative;
  text-align: center;
z-index: 5;
}
.formMap{
	position: relative;
	width: 100%;
	text-align: center;
	top: 135%;
	z-index: 5;
}
.textMap {
	width: 100%;
}
.grupoBtn{
  position: absolute;
  text-align: center;
  bottom: 40px;
  left: 0px;
  width: 100%; 
}
.btnNext{
  position: absolute;
  text-align: center;
  bottom: 40px;
  left: 0px;
  width: 100%;
}
.btnMap{
	width: 100%;
}
.btnLog{
	background-color: transparent;
}


.btnSign{
	background:  linear-gradient( 45deg, #EF0076, #610B5E);
}
.white{
	color: white;
}
.w100{
	width: 100%;
  height: 50px;
}
.grupo{
  position: relative;
  display: inline-block;
  width: 45%;
  border: 0px;
}

.dnone{
  display: none;
}
.inpEmail{
  width: 90%;
  border: 0px;
}
#mapa {
	position: absolute;
	width: 100%;
	height: 100vh; 
}