body {
  background-image: url("../img/fondo.png");
  background-size:auto;
   margin-bottom: 120px;
}
.fondo{
  box-sizing: border-box;
  position: relative;
}
.imgLogo {
  width: 10em;
}
.logo{
  position: relative;
  text-align: center;
  top: 2em;
}
.grupoBtn{
  position: absolute;
  text-align: center;
  bottom: 0px;
left: 0px;
  width: 100%;
  
  
}